---
import PageTemplate from "./PageTemplate.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

const { title } = Astro.props;
---

<PageTemplate title={title}>
  <div class="min-h-screen flex flex-col bg-black">
    <Header blur={true} />
    <slot />
  </div>
</PageTemplate>
