---
import Logo from "../Logo.astro";
---

<div class="flex flex-row justify-between items-center px-16 text-gray-200">
  <Logo />

  <nav class="py-12">
    <ul class="nav-list flex flex-row space-x-6 font-sans">
      <li><a href="/">Home</a></li>
      <li>
        <a href="/Products"> Products</a>
      </li>
      <li>
        <a href="/Shop"> Shop</a>
      </li>
      <li>
        <a href="/our-story"> Our story</a>
      </li>
      <li>
        <a href="/Contact-us"> Contact us</a>
      </li>
    </ul>
  </nav>
</div>
