---
import Main from "../layouts/Main.astro";
import HcfLayout from "../layouts/HcfLayout.astro";
---

<HcfLayout title="Contact us">
  <Main class="grow">
    <article>
      <h2>Contact: Technical/General Admin</h2>
      <p>Auckland branch - Mt Eden</p>
      <p>C: Andy Babbage</p>
      <p>P#: 02041827223</p>
      <p>e: andy.uplabs@gmail.com</p>
    </article>
  </Main>
</HcfLayout>
