---
import Main from "../components/layouts/Main.astro";
import HcfLayout from "../components/layouts/HcfLayout.astro";
---

<HcfLayout title="Our Story">
  <Main>
    <article class="article text-white">
      <h1>Company Ignition</h1>

      <p>
        UPLAB's origins are rooted in a confluence of factors that ultimately led to the creation of the company's flagship product; FIXXUP, and a vision to unlock potential for individuals and businesses. These factors include:
1.	Andy's journey as an engineer, overcoming various challenges and obstacles that ultimately fueled his determination to grow, learn, and maximize his knowledge. He explored different engineering avenues, including electrical, mechanical, and software, and spent countless hours tinkering and experimenting.
2.	Andy's experience as a bike mechanic, which exposed him to on-hands work and the physical toll it can take on one's body, especially when dealing with heavy bicycles in awkward positions.
3.	Listening to a Lex Fridman podcast featuring Tony Fadell, where Andy was inspired to identify pain points in people's lives and provide solutions to alleviate them.
4.	Andy's partnership with Cameron Styles, a highly talented and innovative engineer with a knack for solving mechanical problems in a methodical and practical manner.
5.	The timing of UPLAB's conception, which was influenced by a TED Talk on the key factors that contribute to the success of startups. This inspired Andy to identify a gap in the market and develop a product that could meet the needs of a wide range of businesses. UPLAB received support at every turn, from manufacturing to quality control, and received enthusiastic feedback from customers. Moreover, the growth of the e-bike industry and positive global economic trends further validated UPLAB's potential to thrive.
By removing pain from people's lives and providing uplifting solutions, UPLAB aspires to become a leader in innovation and a driving force in the industry.

      </p>

      <h2>Company Compostion</h2>
      <div class="space-y-6 pl-12">
        <dl class="flex space-x-16">
          <img src="/images/chris-inshop.jpg" class="object-cover w-48 h-48" />
          <div class="flex flex-col justify-between">
            <dt class="mb-2">
              <div class="flex flex-col">
                <span class="font-light scale-y-80 text-3xl text-gray-300"
                  >Andrew Babbage</span
                >
                <span class="font-medium gradient-text-clip text-2xl"
                  >Co-founder</span
                >
              </div>
              <p class="!my-2 text-gray-600 font-extralight">
                Meet Andy Babbage - a Mechanical Engineer, Bicycle Mechanic, and all-around enthusiast with an unstoppable drive to help others reach their full potential! Andy's passion for engineering and product design has led to a range of innovative projects, including an educational book on pulmonary edema that helps freedivers overcome health barriers. 
As an author, Andy Babbage has written and published an educational book on pulmonary edema to assist freedivers in reaching their full potential. This project showcases [Your Name]'s commitment to helping others overcome health challenges and push beyond their limits. As a multitalented engineer and entrepreneur, [Your Name] is always looking for new ways to make the world a better place. With a focus on product and system design, [Your Name] is determined to create tools that help others to succeed.
Andy Babbage is an accomplished filmmaker and photographer, renowned for his ability to capture the dedication and hard work of athletes. His portfolio includes several films, most notably a three-part documentary chronicling Natalia Zharkova's journey to setting a new freediving world record in Turkey. The film showcased Babbage's talent for capturing the emotional and physical challenges that athletes face during their training.
Babbage is also a philanthropist who uses his work to raise awareness and support for social causes. In 2017, he held a photo exhibition in Egypt to fundraise for a documentary project focused on the plight of Kurdish refugees in Iraq. The exhibition was a success, raising significant funds for the project and highlighting Babbage's commitment to using his craft for good.
Moreover, the funding from the documentary on Natalia Zharkova's freediving journey also helped support her in pursuing her dreams as an athlete further, towards her full potential. Babbage's work serves as a testament to his artistic vision, technical skill, and compassion for others.
Not content with just one field of expertise, Andy is also a lifeguard, swim instructor, and freediving instructor, passing on valuable life skills to others. And as a cofounder of UPLAB, Andy is all about creating tools and systems that optimize productivity and success.
Whether it's through smart tool design, teaching, or entrepreneurship, Andy is committed to making the world a better place by helping others achieve their full potential. Get ready to join the movement and unleash your true potential with Andy Babbage and UPLAB!

              </p>
            </dt>
            <dl class="flex space-x-6">
              <a
                href="https://www.linkedin.com/in/andrew-andy-babbage-22b3865b/"
                ><img
                  src="/svgs/icons8-linkedin.svg"
                  class="w-10 h-10 object-cover"
                /></a
              >
            </dl>
          </div>
        </dl>
        <dl class="flex space-x-16">
          <img src="/images/chris-inshop.jpg" class="object-cover w-48 h-48" />
          <div class="flex flex-col justify-between">
            <dt class="mb-2">
              <div class="flex flex-col">
                <span class="font-light scale-y-80 text-3xl text-gray-300"
                  >Cameron Styles</span
                >
                <span class="font-medium gradient-text-clip text-2xl"
                  >Co-founder</span
                >
              </div>
              <p class="!my-2 text-gray-600 font-extralight">
                Meet our co-founder and Mechanical Engineer extraordinaire, Cam! With a passion for innovation, creativity, and out-of-the-box problem solving, Cam has been a driving force behind the development of our first product - an innovative electric bike repair stand designed to streamline the repair process and increase efficiency in bike shops throughout New Zealand.
A graduate of the University of Canterbury, Cam holds a Bachelor's degree in Mechanical Engineering and a Master's in Engineering Management. During Cam's time at university, he honed his skills as a Lead Powertrain Engineer for the University of Canterbury Motorsport FSAE team, further cementing his expertise in the field.
When it comes to approaching engineering challenges, Cam brings a fresh perspective and a creative approach, which has helped shape our product into something truly unique. His passion for engineering extends beyond the workplace, as Cam is an avid car enthusiast who loves working on personal car projects.
During his Master's degree, Cam developed a keen interest in the business side of engineering, with a particular focus on commercialisation and sustainability. This experience has been invaluable in shaping the direction of our company, as we look to expand and grow our business.
When he’s not working, Cam loves to indulge his adventurous side by surfing, camping, and 4x4 driving. With a highly sociable nature and a love of building strong relationships with customers, Cam is always up for a chat and a beer.

              </p>
            </dt>
            <dl class="flex space-x-6">
              <a href="https://www.linkedin.com/in/cam-styles/"
                ><img
                  src="/svgs/icons8-linkedin.svg"
                  class="w-10 h-10 object-cover"
                /></a
              >
            </dl>
          </div>
        </dl>
      </div>
      <h2>
        Special thanks to: Contributors of UPLAB.
        </h2>
        <p> href linkedin accounts</p>
      <p>
 <ol>
          <li>Alistar Cran - Business mentoring</li>
          <li>Brett Cran - Legal advice</li>
          <li>Dee Perry - Brand Strategy</li>
          <li>Tyron Noble - Logo Design</li>
          <li>Kalvin Wei - Website Design</li>
        </ol>

      </p>
    </article>
  </Main>
</HcfLayout>
