---
import Main from "../components/layouts/Main.astro";
import HcfLayout from "../components/layouts/HcfLayout.astro";
---

<HcfLayout title="Our Story">
  <Main>
    <article class="article text-white">
      <h1>Our story</h1>
      <p>
        We are a bicycle-orientated company, specializing in lifting products
        and systems. UPLABS provides products and solutions to make your life
        easier as a bicycle user and/or mechanic, particularly the heavier
        e-bicycle range. We tailor to the needs of mechanics by providing
        electrical mechanisms to help assist in day-to-day work such as our
        FIX-UP and CRANK-UP product lines. Additionally, we help with logistics
        in like-minded innovative systems. Such as the towbar our towbar
        interface mechanism BRIDGE-UP.
      </p>

      <h2>Company Compostion</h2>
      <div class="space-y-6 pl-12">
        <dl class="flex space-x-16">
          <img src="/images/chris-inshop.jpg" class="object-cover w-48 h-48" />
          <div class="flex flex-col justify-between">
            <dt class="mb-2">
              <div class="flex flex-col">
                <span class="font-light scale-y-80 text-3xl text-gray-300"
                  >Andrew Babbage</span
                >
                <span class="font-medium gradient-text-clip text-2xl"
                  >Co-founder</span
                >
              </div>
              <p class="!my-2 text-gray-600 font-extralight">
                Some self-introduction
              </p>
            </dt>
            <dl class="flex space-x-6">
              <a
                href="https://www.linkedin.com/in/andrew-andy-babbage-22b3865b/"
                ><img
                  src="/svgs/icons8-linkedin.svg"
                  class="w-10 h-10 object-cover"
                /></a
              >
            </dl>
          </div>
        </dl>
        <dl class="flex space-x-16">
          <img src="/images/chris-inshop.jpg" class="object-cover w-48 h-48" />
          <div class="flex flex-col justify-between">
            <dt class="mb-2">
              <div class="flex flex-col">
                <span class="font-light scale-y-80 text-3xl text-gray-300"
                  >Cameron Styles</span
                >
                <span class="font-medium gradient-text-clip text-2xl"
                  >Co-founder</span
                >
              </div>
              <p class="!my-2 text-gray-600 font-extralight">
                Some self-introduction
              </p>
            </dt>
            <dl class="flex space-x-6">
              <a href="https://www.linkedin.com/in/cam-styles/"
                ><img
                  src="/svgs/icons8-linkedin.svg"
                  class="w-10 h-10 object-cover"
                /></a
              >
            </dl>
          </div>
        </dl>
      </div>
      <h2>Contributors</h2>
      <p>Somebody</p>
    </article>
  </Main>
</HcfLayout>
