---
import Main from "../components/layouts/Main.astro";
import HcfLayout from "../components/layouts/HcfLayout.astro";
---

<HcfLayout title="Our Story">
  <Main class="grow">
    <h1>Our story</h1>
    <article>
      <p>
        We are a bicycle-orientated company, specializing in lifting products
        and systems. UPLABS provides products and solutions to make your life
        easier as a bicycle user and/or mechanic, particularly the heavier
        e-bicycle range. We tailor to the needs of mechanics by providing
        electrical mechanisms to help assist in day-to-day work such as our
        FIX-UP and CRANK-UP product lines. Additionally, we help with logistics
        in like-minded innovative systems. Such as the towbar our towbar
        interface mechanism BRIDGE-UP.
      </p>
    </article>

    <br\>
      <title>Company Composition</title>
      <h1>Company Composition</h1>

      <p>
        <h1>Co-Founder</h1>
        <br\>
          <a href="https://www.linkedin.com/in/andrew-andy-babbage-22b3865b/">
            Andrew Babbage Linkedin _
          </a>
          <br\>
            <div>
              <img
                class="andy-chris"
                src="/images/Chris_Inshop.jpg"
                alt="uplab logo"
              />
            </div>
            <br\>
              <h1>Co-Founder</h1>
              <a href="https://www.linkedin.com/in/cam-styles/">
                Cameron Styles Linkedin _
              </a>

              <h1 class="contributers">Contributers</h1>
            </br\>
          </br\>
        </br\>

        <style>
          main {
            margin: auto;
            padding: 1.5rem;
            max-width: 60ch;
          }

          .andy-chris {
            width: 200px;
            height: 200px;
          }
        </style>
      </p></br\
    >
  </Main>
</HcfLayout>
