---
import MainContainer from "../components/MainContainer.astro";
import HcfLayout from "../layouts/HcfLayout.astro";
---

<HcfLayout title="Our Story">
  <MainContainer class="grow">
    <h1>Our story</h1>
    <article>
      
      <p>
        We are a bicycle-orientated company, specializing in lifting products
        and systems. UPLABS provides products and solutions to make your life
        easier as a bicycle user and/or mechanic, particularly the heavier
        e-bicycle range. We tailor to the needs of mechanics by providing
        electrical mechanisms to help assist in day-to-day work such as our
        FIX-UP and CRANK-UP product lines. Additionally, we help with logistics
        in like-minded innovative systems. Such as the towbar our towbar
        interface mechanism BRIDGE-UP.
      </p>
    </article>

    <title>Company Composition</title>
    <h1>Company Composition</h1>

    <p>

      <a href=" https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=false&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAACmrIIcB01fsvgMTKjHcQuLtL_noO1DX11k&keywords=cam%20styles&origin=RICH_QUERY_SUGGESTION&position=0&searchId=62d51443-c848-419b-bafc-755011825a6e&sid=K1R
      "> Cameron Styles Linkedin _ </a>
     
    </p>

  </MainContainer>
</HcfLayout>


