---
import HcfLayout from "../layouts/HcfLayout.astro";
---

<HcfLayout title="Our Story">
  <main class="grow">
    <h1>Our story</h1>
    <article>
      <h2>What is UPLABS?</h2>
      <p>
        We are a bicycle-orientated company, specializing in lifting products
        and systems. UPLABS provides products and solutions to make your life
        easier as a bicycle user and/or mechanic, particularly the heavier
        e-bicycle range. We tailor to the needs of mechanics by providing
        electrical mechanisms to help assist in day-to-day work such as our
        FIX-UP and CRANK-UP product lines. Additionally, we help with logistics
        in like-minded innovative systems. Such as the towbar our towbar
        interface mechanism BRIDGE-UP.
      </p>
    </article>
  </main>
</HcfLayout>
