---
import MainContainer from "../components/MainContainer.astro";
import HcfLayout from "../layouts/HcfLayout.astro";
---

<HcfLayout title="Products">
  <MainContainer class="grow">
    <h1>Products</h1>
    <article>
        <h1>ProdWhat are the benefits of FIXXUP electric bike lift?</h1>
        <p>FIXXUP is a useful tool for bike mechanics because it allows them to raise a bike easily and efficiently to a comfortable working height. 
        This can help to reduce strain on the mechanic's back and shoulders, as well as improve access to the bike for maintenance and repairs. 
        Additionally, an electric bike lift can also be used to securely hold the bike in place while working on it, 
        which can increase safety and accuracy when adjusting or repairs. Overall, an electric bike lift can help to make the process of working on bikes more 
        efficient, comfortable, and safe for mechanics.
        </p>

        <h2>How can FIXXUP assist and excel your bicycle business upward?</h2>
        <p>
        Simple bike mechanics work best with the best tools on market! This product will help with the accessibility and versatility of bicycles being serviced.
        Furthermore, it will do it with ease and speed! We have designed these systems to crank smoothly and fast, with no long waits to maneuver your ride to height, 
        it’s a quick and snappy experience.
        </p>

        <h2>Put the health of your mechanics first!</h2>
        <p>Manipulating heavy bikes into different and awkward positions can be unhealthy and excessively straining on the body, 
            FIXXUP enables you to retain your energy for a more sustained workload.
        </p>
        
        
        <h2>Specifications of FIXXUP:</h2>

        <p>
        •	Electric 230v Cable Drive train system
        •	100kg payload, optimal 30kg
        •	Height 2.1m
        •	Product weight 30kg
        •	Bolt down masonry
        •	100-3D ParkTool compatible
        •	0.2m > 1.8m in 10 seconds 
        </p>

        <h2>Specifications of Crankup:</h2>

        <p>
        •	Manual Hand Crank Winching system
        •	100kg payload, optimal 30kg
        •	Height 2.1m
        •	Product weight 18kg
        •	Bolt down masonry
        •	100-3D ParkTool compatible
        •	0.2m > 1.8m in 25 seconds nominal
      </p>

    </article>
  </MainContainer>
</HcfLayout>
