---
import MainContainer from "../components/MainContainer.astro";
import HcfLayout from "../layouts/HcfLayout.astro";
---

<HcfLayout title="Shop">
  <MainContainer class="grow">
    <p>Shopify link</p>
  </MainContainer>
</HcfLayout>
