---
import Main from "../components/Main.astro";
import HcfLayout from "../layouts/HcfLayout.astro";
---

<HcfLayout title="Shop">
  <Main class="grow">
    <p>Shopify link</p>
  </Main>
</HcfLayout>
