---
import { ChevronDownIcon } from "@heroicons/react/24/outline";
---

<div id="intro-container" class="z-[-1]">
    <div id="intro-block-welcome" class="intro-block h-screen tracking-wider">
        <div class="absolute top-48 left-[40%] shift-to-left -ml-56">
            <h2
                id="welcome-to"
                class="text-7xl text-gray-200 scale-y-80 font-light"
            >
                We<span id="lcome-to">lcome to</span><span
                    id="are"
                    class="hidden opacity-0">'re specialised in</span
                >
            </h2>

            <h1 id="uplabs" class="gradient-text-clip text-9xl font-medium">
                UPLABS
            </h1>

            <h1
                id="specialised-in"
                class="mt-4 gradient-text-clip text-8xl font-medium pb-6"
            >
                <span>lifting products</span><br />
                {
                    /* Adding 'inline-block' here for span because otherwise scale doen't work on it. */
                }
                <span
                    class="inline-block text-7xl text-gray-400 scale-y-80 font-extralight"
                    >and</span
                >
                <span>systems</span>
            </h1>

            <h1
                id="nzmade-estand"
                class="-mt-2 hidden gradient-text-clip text-8xl font-medium pb-6"
            >
                <span
                    class="inline-block text-7xl text-gray-400 scale-y-80 font-extralight"
                    >our first NZ made</span
                ><br />
                electric<br />bike stand
            </h1>
        </div>
        <div
            id="scroll-down-hint"
            class="absolute bottom-0 left-1/2 -translate-x-1/2 animate-pulse text-white p-10 flex flex-col items-center space-y-2"
        >
            <div>Scroll to view more</div>
            <div><ChevronDownIcon className="w-6 h-6" /></div>
        </div>
    </div>
</div>

<script is:inline>
    const tl = gsap.timeline({
        default: { ease: "power4.inOut", duration: 2 },
    });
    tl.to("html, body", { overflowY: "hidden" }, 0)
        .fromTo(
            "#welcome-to",
            {
                opacity: 0,
            },
            {
                opacity: 1,
                duration: 1,
            }
        )
        .fromTo(
            "#uplabs",
            {
                clipPath: "polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%",
                x: "-10%",
                scaleX: "80%",
                y: "50%",
                opacity: 0,
            },
            {
                clipPath: "polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%",
                opacity: 1,
                scaleX: "100%",
                x: "0%",
                y: 0,
                duration: 0.8,
            }
        )
        .fromTo("#header", { opacity: 0 }, { opacity: 1, duration: 1 })
        .fromTo(
            "#video-shade",
            { background: "rgba(0,0,0,1)" },
            { background: "rgba(0,0,0,0.8", currentTime: 0, duration: 2 }
        )
        .to("#uplabs", { display: "none", duration: 0.5, opacity: 0 })
        .to(
            "#lcome-to",
            { display: "none", duration: 0.5, opacity: 0 },
            "-=0.5"
        )
        .to("#are", { display: "inline", duration: 0.5, opacity: 1 })
        .fromTo(
            "#specialised-in",
            {
                display: "none",
                clipPath: "polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%",
                x: "-10%",
                scaleX: "80%",
                y: "50%",
                opacity: 0,
            },
            {
                display: "block",
                clipPath: "polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%",
                opacity: 1,
                scaleX: "100%",
                x: "0%",
                y: 0,
                duration: 0.8,
            }
        )
        .fromTo(
            "#specialised-in",
            { display: "block", opacity: 1 },
            { display: "none", opacity: 0, duration: 1 },
            "+=2"
        )
        .fromTo("#welcome-to", { opacity: 1 }, { opacity: 0, duration: 1 })
        .fromTo(
            "#welcome-to",
            { opacity: 0 },
            {
                opacity: 1,
                innerText: "Thrilling to introduce",
            },
            "-=0.5"
        )
        .fromTo(
            "#nzmade-estand",
            {
                display: "none",
                clipPath: "polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%",
                x: "-10%",
                scaleX: "80%",
                y: "50%",
                opacity: 0,
            },
            {
                display: "block",
                clipPath: "polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%",
                opacity: 1,
                scaleX: "100%",
                x: "0%",
                y: 0,
                duration: 1,
            }
        )
        .fromTo(
            "#scroll-down-hint",
            { display: "none", opacity: 0 },
            { display: "flex", opacity: 1, duration: 0.5 }
        )
        .to("html, body", {
            overflowY: "scroll",
        });
</script>
