{/* https://codepen.io/shshaw/pen/vYKBPbv/9e810322d70c306de2d18237d0cb2d78 */}

<video
    src="/videos/fly-through.mp4"
    playsinline="true"
    webkit-playsinline="true"
    preload="auto"
    muted="muted"
    id="video-background"
    class="fixed top-0 left-0"></video>
<div id="video-scrubber" class="h-[600vh]"></div>
<script type="module" hoist>
    import gsap from "gsap";
    import scrollTrigger from "gsap/ScrollTrigger";
    gsap.registerPlugin(scrollTrigger);

    const video = document.querySelector("#video-background");
    let src = video.current || video.src;
    console.log(video, src);
    gsap.registerPlugin(ScrollTrigger);

    /* Make sure the video is 'activated' on iOS */
    function once(el, event, fn, opts) {
        var onceFn = function (e) {
            el.removeEventListener(event, onceFn);
            fn.apply(this, arguments);
        };
        el.addEventListener(event, onceFn, opts);
        return onceFn;
    }

    once(
        document.documentElement,
        "touchstart",
        function (e) {
            video.play();
            video.pause();
        },
        null
    );

    let tl = gsap.timeline({
        default: { duration: 1 },
        scrollTrigger: {
            trigger: "#video-scrubber",
            start: "top top",
            end: "bottom bottom",
            scrub: true,
        },
    });

    once(video, "loadedmetadata", () => {
        tl.fromTo(
            video,
            {
                currentTime: 0,
            },
            {
                currentTime: video.duration || 1,
            }
        );
    });

    /* When first coded, the Blobbing was important to ensure the browser wasn't dropping previously played segments, but it doesn't seem to be a problem now. Possibly based on memory availability? */
    setTimeout(function () {
        if (window["fetch"]) {
            fetch(src)
                .then((response) => response.blob())
                .then((response) => {
                    var blobURL = URL.createObjectURL(response);

                    var t = video.currentTime;
                    once(document.documentElement, "touchstart", function (e) {
                        video.play();
                        video.pause();
                    });

                    video.setAttribute("src", blobURL);
                    video.currentTime = t + 0.01;
                });
        }
    }, 1000);
</script>
