<div id="video-bg-container" class="absolute w-screen h-screen z-[-1]">
    <div id="video-shade" class="absolute w-full h-full bg-black/100"></div>
    <video
        src="/videos/fly-through.mp4"
        class="object-cover w-full h-full"
        id="bg-video"
        playsinline
        muted
        loop
        autoplay></video>
</div>
<script is:inline>
    const video = document.querySelector("#bg-video");
    video.playbackRate = 0.5;
</script>
