---
import { log } from "astro/dist/core/logger/core";

const SectionTitles = "Welcome to up labs, an NZ-based tech company".split(
    /\s+/
);
console.log("titles", SectionTitles);
---

<div id="background-container" class="background-container">
    <div id="video-container" class="video-container">
        <video src="/videos/fly-through.mov" id="bg-video"></video>
    </div>
</div>
<div class="h-[400vh]"></div>
<!-- <div class="scroll-container" id="scroll-container">
    {
        SectionTitles.map((title) => (
            <section class="step">
                <div>
                    <h3>{title}</h3>
                </div>
            </section>
        ))
    }
</div> -->

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"
    is:inline
></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"
    is:inline
></script>
<script is:inline>
    gsap.registerPlugin(ScrollTrigger);
    const video = document.querySelector("#bg-video");
    video.pause();
    video.currentTime = 0;

    let sections = gsap.utils.toArray(".step");

    function addGsapMotionWhenVideoReady() {
        // const durationPerSection = video.duration / sections.length;
        // console.log(
        //     "duration",
        //     video.duration,
        //     "duration per section",
        //     durationPerSection
        // );
        // gsap.fromTo(
        //     video,
        //     { pause: true },
        //     {
        //         scrollTrigger: {
        //             trigger: video,
        //             start: "top bottom",
        //             toggleActions: "play pause",
        //         },
        //     }
        // );
        // sections.forEach((step, i) => {
        //     ScrollTrigger.create({
        //         trigger: step,
        //         start: "center center",
        //         end: "+=1000",
        //         // pin: true,
        //         // anticipatePin: 1,
        //     });
        //     gsap.fromTo(
        //         video,
        //         { currentTime: durationPerSection * i },
        //         {
        //             scrollTrigger: {
        //                 trigger: step,
        //                 scrub: durationPerSection,
        //                 start: "center center",
        //                 end: "+=1000",
        //             },
        //             duration: durationPerSection,
        //             currentTime: durationPerSection * (i + 1),
        //             ease: "none",
        //         }
        //     );
        // });
        // gsap.to("#bg-video", {
        //     scrollTrigger: {
        //         scrub: true,
        //     },
        // });
        window.addEventListener("scroll", scrollVideo);
    }
    video.addEventListener("loadedmetadata", addGsapMotionWhenVideoReady);

    function scrollVideo() {
        const duration = video.duration;
        let scrollPosition =
            window.pageYOffset ||
            document.documentElement.scrollTop ||
            document.body.scrollTop ||
            0;

        const docHeight = Math.max(
            document.body.scrollHeight,
            document.body.offsetHeight,
            document.documentElement.clientHeight,
            document.documentElement.scrollHeight,
            document.documentElement.offsetHeight
        );
        const windowHeight =
            window.innerHeight ||
            document.documentElement.clientHeight ||
            document.body.clientHeight;
        const scrollDifference = docHeight - windowHeight;
        video.currentTime = (scrollPosition / scrollDifference) * duration;
    }
</script>

<style>
    #background-container {
        position: fixed;
        display: flex;
        aligh-items: center;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        flex-direction: row;
    }

    #video-container {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #scroll-container {
        overflow: hidden;
    }

    #bg-video {
        flex: 1;
        background: black;
        opacity: 1;
        visibility: visible;
    }

    .step {
        display: flex;
        flex-direction: columns;
        justify-content: flex-end;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .step > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: columns;
        height: 100vh;
        color: #fff;
        font-weight: 700;
        font-size: 40px;
        text-shadow: 2px 2px black;
        opacity: 1;
    }
</style>
