---
import Layout from "./Layout.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="min-h-screen flex flex-col">
    <Header />
    <slot />
    <Footer />
  </div>
</Layout>
