<div>
  <div>UPLABS logo goes here</div>
  <nav>
    <ul>
      <li>Home</li>
      <li>Products</li>
      <li>Shop</li>
      <li>
        <a class="text-primary hover:text-primary-dark" href="/our-story">
          Our story
        </a>
      </li>
      <li>Contact us</li>
    </ul>
  </nav>
</div>
